.games-list-container {
  border-left: 1px solid #000;
  width: 260px;
  overflow: auto;
  position: relative;
  background: #ffffff;

  @include adaptive-styles($mobile-screen-break-point){
    width: 100%;
    height: calc(100% - 40px);
    position: absolute;
    top: 40px;
    left: 0;
    border: none;
    z-index: 3;
  }
}
.games-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    height: 31px;
    line-height: 31px;
    padding-left: 16px;
    margin-right: 14px;
    font-size: 18px;
    border-bottom: 1px solid #a2a1a3;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    display: block;
    border-bottom: 1px solid #dddddd;
    text-decoration: none;
    color: #000;

    &.active {
      color: $main-theme-color;
    }
  }
}